<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034214134390-m6n815edkafso7vi70blh910aetfub1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034214134390-m6n815edkafso7vi70blh910aetfub1f</string>
	<key>API_KEY</key>
	<string>AIzaSyCQp-UyaqLiboaPvmMetDCkEqgSQyfw3y4</string>
	<key>GCM_SENDER_ID</key>
	<string>1034214134390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instantCar</string>
	<key>PROJECT_ID</key>
	<string>instantcar-f6356</string>
	<key>STORAGE_BUCKET</key>
	<string>instantcar-f6356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034214134390:ios:a643c2ed9a1ae2a06c0557</string>
</dict>
</plist>